<% if signed_in? && current_user.admin? %>
  <% @profiles.each do |profile| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <%=	link_to "#{profile.user.email}", profile %>   |
        <%=	link_to "Edit profile", edit_user_registration_path(profile) %>   |
        <%=	link_to "View profile", profile_path(profile) %>   |
        <%= link_to 'remove', profile,  method: :delete, data: { confirm: 'Are you sure?' }  %>
      </div>
    </div>
  <% end %>
<% end %>