<h1 align="center"><%= "Profile: " + @profile.user.email%></h1>

  <div align="center">
    <%= "#{@profile.avatar}" %>
    <%= "#{@profile.first_name}" %> <br />
    <%= "#{@profile.last_name}" %>
  </div>

<%#= render 'vehicle_listings/vehicle_listing', obj: @profile.user.vehicle_listings %>

<%#= @profile.user.vehicle_listings.each do |v| %>
  <%#= link_to v.car_model.name, vehicle_listing_path(v)  %>

<%# end %>


