<h1 align="center"><%= "Profile: " + @profile.user.email%></h1>

  <div align="center">
    <%= "#{@profile.avatar}" %>
    <%= "#{@profile.first_name}" %> <br />
    <%= "#{@profile.last_name}" %>
  </div>


