<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'rent a ride', vehicle_listings_path %>


<%#fill this with a link to how it works page %>

<% if user_signed_in? %>
  <%= link_to 'share a ride', new_vehicle_listing_path %>
<% else %>
  <%=  link_to 'share a ride', root_path  %>
<% end %>
